<section>
    <a href="https://github.com/VictorBrito13" target="_blank">
        <h1 class="section-title section-title-animable">Victor Javier Brito Vega</h1>
    </a>
    <div class="grid-about-container">
        <article class="about-me">
            <p>
                Hi my name is Victor Brito from Mexico and I am a front-end developer, I really like this job
                and I enjoy creating new projects.
            </p>
        </article>
        <figure class="image-container">
            <img src="" alt="Victor-Brito">
        </figure>
    </div>
</section>