<nav class="menu-container">
    <ul class="menu">
        <li [routerLinkActive]="['menu-item-active']">
        <a
            [routerLink]="['/home']"
            class="menu-item"
            >Home</a>
        </li>
        <li [routerLinkActive]="['menu-item-active']">
            <a
            [routerLink]="['/skills']"
            class="menu-item"
            >Skills</a>
        </li>
        <li [routerLinkActive]="['menu-item-active']">
            <a
            [routerLink]="['/projects']"
            class="menu-item"
            >Projects</a>
        </li>
        <li [routerLinkActive]="['menu-item-active']">
            <a
            [routerLink]="['/contact']"
            class="menu-item"
            >Contact</a>
        </li>
    </ul>
</nav>
